body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  #hero-section {
    height: 67vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    text-align: center;
}
  
  .content {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    padding-top: 5vh;
  }
  
  .featured-items {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  
  .featured-items .item img {
    width: 200px;
    height: auto;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    font-size: 14px;
  }
  